.container{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.phone{
    background-color: black;
    border-radius: 40px;
    width: 430px;
    height:890px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #ffffff;
}
.content{
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 94%;
    height: 97%;
    background-color:#ffffff;
    overflow:hidden;
    
}
.container h1 {
    margin: 5%;
    float: left;
    font-size:20px;
    
}
.container h2{
    float: right;
   margin-right: 15px;
    
}
.container nav99 form fieldset{
    height: 40px;
    margin-top: 1px;
    width: 382px;
    margin-left: -3px;
    float: left;
    background-color: #BAD7BB;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.container nav99 form fieldset h3{
    margin: 110px;
    margin-top: 7px;
    font-size: 20px;
    float: left;
}
.container nav99 form fieldset img{
  float: left;
  width: 25px;
  margin-top: -132px;
}
.container nav1 {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
}
.container nav2 {
    float: left;
    color: red;
    font-size: 20px;
}
.container nav3 {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 45px;
    margin-left: -193px;
}
.container nav4 {
    float: left;
    margin-top: 16px;
    font-size: 16px;
    margin-left: 78px;
}
.container nav5 {
    float: left;
    font-size: 16px;
    margin-left: 15px;
    width: 380px;
}
.container nav6 fieldset {
    float: left;
    margin-top: 18px;
    margin-left: 15px;
    width: 343px;
    height: 20px;
    border-radius: 10px;
}
.container nav6 fieldset h1 {
    float: left;
    margin-top: -1px;
    margin-left: -6px;
    font-weight: 700;
}
.container nav7 {
    float: left;
    margin-left: 350px;
    margin-top: -30px ;
}
.container nav8 {
    float: left;
    font-size: 16px;
    margin-left: 15px;
    width: 380px;
    font-style: italic;
    margin-top: 10px;
}
.container nav9 img {
    float: left;
    margin-top: 20px;
}
.container nav10 {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: -38px;
    margin-top: 37px;
}
.container nav11{
    float: left;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
}
.container nav12{
    float: left;
    font-size: 17px;
    margin-top: 10px;
    font-style: italic;
margin-left: 10px;
}
.container nav13 img {
    float: left;
    margin-left: -288px;
    margin-top: 58px;
}
.container nav14 {
    float: left;
    margin-left: -260px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
}
.container nav15 {
    float: left;
    margin-left: -260px;
    font-size: 19px;
    font-weight: 100;
    margin-top: 70px;
}
.container nav16 hr {
    width: 600px;
    float: left;
    margin-top: 65px;
}
.container nav17 img {
    float: left;
    margin-left: 2px;
    margin-top: 8px;
}
.container nav18 {
    float: left;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 2px;
}
.container nav19 {
    float: left;
    margin-left: -40px;
    font-size: 19px;
    font-weight: 100;
    margin-top: 24px;
}
.container nav20 hr {
    width: 600px;
    float: left;
    margin-top: 5px;
}
.container nav21 img {
    float: right;
    margin-top: -50px;
}
.container nav22 a img{
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}
.container nav23 {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: -120px;
    margin-top: 30px;
    color: #ffffff;
}
.container nav24 img {
    float: left;
    margin-top: 28px;
    margin-left: 135px;
}
