body{
    padding:0;
    margin:0;
    background-color:#ffffff;
}
.container{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.phone{
    background-color: #000000;
    border-radius: 40px;
    width: 430px;
    height:932px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
}
.content{
    border: 1px solid #36383F;
    border-radius: 20px;
    width: 94%;
    height: 91%;
    background-color:#FFFFFF; 
    overflow:hidden;
    
}
.content p{
    text-align: center;
    color:#C6AB7C;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5) ;
    font-weight: bold ;
    font-size: 20px;
    margin-top: -80px;  
}
.content h1{
    text-align: center;
    color:#C6AB7C;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5) ;
    font-weight: bold ;
    font-size: 36px;
}
.content h6{
    text-align: center;
    color:#C6AB7C;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5) ;
    font-weight:lighter ;
    font-size: 20px;
}
.content button{
    width:206px;
    height:47px;
    text-align: center;
   border-radius: 15px;
   background-color: #01A730;
   border: 1px solid #FFFF;
}
.StatusBar{
    width: 430px;
    height: 49px;
}
.k900{
    float:right;
    margin-top:-80px;
    margin-right: 40px;
}
.l900{
    float:right;
    margin-top:-80px;
    margin-right: 70px;
}
.p900{
    float:right;
    margin-top:-80px;
    margin-right: 90px;
}

.StatusBar h5{
    width: 40px;
    height: 49px;
  margin-left: 20px;
  margin-bottom: 30px;
  
}
hr{
    margin-top: -20px;
}
.footer{
    width: 134px;
    height: 5px;
    border-radius: 100px;
    background-color: black;
    margin-top: 150px;
   margin-left: 135px;
}
.content a button{
    color:white;
    font-size: 20px;
    font-weight: bold;
  
}
