body{
    padding:0;
    margin:0;
    background-color:#ffffff;
}
.container{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.phone{
    background-color: #000000;
    border-radius: 40px;
    width: 430px;
    height:932px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
}
.content{
    border: 1px solid #ffffff   ;
    border-radius: 20px;
    width: 94%;
    height: 97%;
    background-color:#FFFFFF;
    overflow:hidden;
    
}
.back{
    margin-top:-10px;
    border-radius:0px 0px 40px 0px;
    width: 403px;
    height:50px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}


.back span{
    float:right;
    font-size:137.5%;
    margin-top:-38px;
    margin-right: 150px;
    font-weight: bold;
   
    
}
.content h1{
    font-size: 35px;
    text-align: center;
    margin-top: -60px;
    color:#510202;
}


.content label{
    font-size: 20px;
    float:left;
    margin-left: 23px;
}
.content input{
    width:357px;
    height:44px;
    border-radius: 20px;
}

.container button{
    width:206px;
    height:47px;
    border-radius: 15px;
   margin-top: 45px;
  margin-left: 15px;
  background-color: #01A730;
  font-size: 20px;
  color:#ffffff;
  font-weight: bold;
}
.content fieldset{
    width:366px;
    height:75px;
    margin:auto;
    border-radius:10px;
    margin-top: 30px;
    border: 1px solid #FF0000;
    padding:0;
    
}
.left{
    float:left;
    width:25.64px;
    height:75px;
   background-color: #FC3B11;
   border-radius:10px 0px 0px 10px;
}

.right{
    width:340.36px;
    height:75px;
    float:right;
    background-color:#EFD7D7 ;
    border-radius: 10px;
    border-radius:0px 10px 10px 0px;
    color:black;
}
.content fieldset img{
    margin: 3.3vh auto;
}
.content fieldset p{
    font-size: 13px;
    margin: 1vh auto;
    font-weight: bold;
    padding:2%;
}
.content h6{
    font-size: 20px;
    color:#185244;
    margin-left: 88px;
}
.content a{
    font-size: 20px;
    float:right;
    margin-top: -68px;
    margin-right: 90px;
    color:#185244;
    font-weight: bold;
}
.c800{
    position: absolute;
}
.StatusBar{
    width: 430px;
    height: 49px;
}
.k900{
    float:right;
    margin-top:-80px;
    margin-right: 40px;
}
.l900{
    float:right;
    margin-top:-80px;
    margin-right: 70px;
}
.p900{
    float:right;
    margin-top:-80px;
    margin-right: 90px;
}

.StatusBar h5{
    width: 40px;
    height: 49px;
  margin-left: 20px;
  margin-bottom: 30px;
  
}
hr{
    margin-top: -23px;
}