body{
    padding:0;
    margin:0;
    background-color:#ffffff;
}
.container{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.phone{
    background-color: #000000;
    border-radius: 40px;
    width: 430px;
    height:932px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
}
.content{
    border: 1px solid #ffffff   ;
    border-radius: 20px;
    width: 94%;
    height: 97%;
    background-color:#FFFFFF;
    overflow:hidden;
    
}
.back{
    margin-top:-10px;
    border-radius:0px 0px 40px 0px;
    width: 403px;
    height:50px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}
.back img{
    width:40px;
    margin: 1vh  3vh auto;
}
.back span{
    float:right;
    font-size:22px;
    margin-top:-35px;
    margin-right: 150px;
    font-weight: bold;
}
.content h1{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.content h2{
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}
.content input{
    width:51px;
    height:45px;
    border-radius: 10px;
   margin-left: 5px;
   background: linear-gradient(to top,#D8C096, #FFFFFF);
}
.container button{
    width:206px;
    height:47px;
    border-radius: 15px;
   margin-top: 45px;
  margin-left: 10px;
  background-color: #01A730;
  font-size: 20px;
  color:#ffffff;
  font-weight: bold;
}
.content p{
    width:238px;
    height:10px;
    margin-left: 70px;
    font-size: 20px;
}
.j300{
    float:right;
    width:111px;
    height:14px;
    font-size: 20px;
    margin-top: -30px;
    padding-right: 20px;
    color:#185244;
    
}
.StatusBar{
    width: 430px;
    height: 49px;
}
.k900{
    float:right;
    margin-top:-80px;
    margin-right: 40px;
}
.l900{
    float:right;
    margin-top:-80px;
    margin-right: 70px;
}
.p900{
    float:right;
    margin-top:-80px;
    margin-right: 90px;
}

.StatusBar h5{
    width: 40px;
    height: 49px;
  margin-left: 20px;
  margin-bottom: 30px;
  
}
hr{
    margin-top: -23px;
}