
.container{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.phone{
    background-color: #000000;
    border-radius: 40px;
    width: 430px;
    height:1360px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #ffffff;
}
.content{
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 94%;
    height: 97%;
    background-color:#ffffff;
    overflow:hidden;
}
.time h2{
    float: left;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}
.time h1 {
    float: right;
    margin-right: 5px;
    margin-top: -3px;
}
.ten {
    float: left;
    background-color: #BAD7BB;
    width: 405px;
    height: 54px;
    margin-left: -1px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border: 1px solid black;
}
.ten h1 {
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}
.ten h2 {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 80px;
}
.vung1 {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.549);
    width: 365px;
    height: 55px;
    border-radius: 10px;
    margin-left: 17px;
    margin-top: 20px;
}
.vung1 h1 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    margin-top: 1px;
    margin-left: 5px;
}
.vung1 h2 {
    float: left;
    margin-top: -3px;
    margin-left: 3px;
    color: red;
}
.vung1 h3 {
    float: left;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    margin-top: 30px;
    margin-left: -178px;
}
.vung1 h4 {
    float: right;
    margin-top: 8px;
    margin-right: 7px;
}

.vung5 h1 {
    float: left;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 17px;
}
.vung5 h2 {
    float: left;
    font-size: 14px;
    margin-top: -3px;
    margin-left: 17px;
    font-weight: 300;
}
.vung5 h3 {
    float: left;
    width: 500px;
    margin-top: -20px;
}
.vung6 h2{
    float: right;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 60px;
}
.vung7 {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.585);
    width: 365px;
    height: 55px;
    border-radius: 10px;
    margin-left: 17px;
    margin-top: 15px;
}
.vung7 h1 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2px;
    margin-left: 5px;
}
.vung7 h2 {
    float: left;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    margin-top: 30px;
    margin-left: -200px;
}
.vung7 h4 {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}
.vung8 {
    float: left;
    background-color: rgb(195, 3, 3);
    width: 170px;
    height: 45px;
    border-radius: 10px;
    margin-top: 130px;
    margin-left: 25px;
}
.vung8 h2 {
    color: white;
    float: left;
    font-size: 24px;
    margin-top: -1px;
    margin-left: 50px;
}
.vung9 {
    float: left;
    background-color: rgb(2, 173, 19);
    width: 170px;
    height: 45px;
    border-radius: 10px;
    margin-top: 130px;
    margin-left: 10px;
}
.vung9 h2 {
    color: white;
    float: left;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 35px;
}
.cuoi h1 {
    float: left;
    margin-top: 45px;
    margin-left: 132px;
}
.m1{
  float:left;
  margin-left: 145px;
  margin-top: 20px;
}
.btn-btn-1{
    width:363px;
    height:47px;
    margin:auto;
    border-radius: 15px;
    background-color: #C34A06;
    font-size: 20px;
    color:#ffffff;
    font-weight: bold;;
}
.m3{
    float:right;
    font-size: 20px;
    font-weight: 600;
    margin-right: 150px;
}
.modal-dialog{
    width: 400px;
    margin-left: 560px;
}
.m4{
    font-size: 20px;
    font-weight: 600;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
}
.m5{
    float:right;
    margin-top: 15px;
    margin-right: 10px;
}
.m10{
    margin-top: 20px;
    margin-left: 20px;
}
.m11{
    float:right;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 15px;
}
.m20{
   float:left;
   margin-top: 10px;
   margin-left: 80px;
}
fieldset{
    width:366px;
    height:75px;
    margin:auto;
    border-radius:10px;
    margin-top: 30px;
    border: 1px solid #FF0000;
    padding:0;
    
}
.left{
    float:left;
    width:25.64px;
    height:75px;
   background-color: #FC3B11;
   border-radius:10px 0px 0px 10px;
}

.right{
    width:340.36px;
    height:75px;
    float:right;
    border-radius: 10px;
    border-radius:0px 10px 10px 0px;
    color:black;
}
 fieldset img{
    margin: 3.3vh auto;
}
.right p{
    float:right;
    font-size: 14px;
    margin-top: -70px;
    margin-right: -10px;
}
.modal-header-3{
    width:366px;
    height:75px;
    margin:auto;
    border-radius:12px;
    border:1px solid rgba(0, 0, 0, 0.489);
}
.m-h-1{
    float:left;
    font-size: 20px;
    margin-left: 10px;
}
.m-h-2{
    float:right;
    margin-top: -20px;
    font-style: italic;
    margin-right: 260px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}
.modal-header-2{
    width:366px;
    height:55px;
    margin:auto;
    border-radius:12px;
    border:1px solid rgba(0, 0, 0, 0.658);
}
.r1{
    float:left;
    font-size: 20px;
    font-weight: 600;
    margin-top: -40px;
    margin-left: 5px;
}
.r2{
    float:left;
    margin-left: 10px;
    margin-top: -5px;
}
.m12{
    float:right;
    font-size: 20px;
    font-weight: 600;
    margin-right: 100px;
    margin-top: 15px;
}
.m30{
    margin-top: 15px;
    margin-left: 110px;
}
.t-d-2{
    float:left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
}
.t-d-3{
    float:left;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    color:#FF0000;
}
.t-d-4{
    float:left;
    font-size: 12px;
    font-weight: 600;
    margin-left: -102px;
    margin-top: 50px;
}
.t-d-5{
    width:140px;
    height:42px;
    border: 1px solid rgba(0, 0, 0, 0.563);
    border-radius: 10px;
    float:right;
    margin-top: 30px;
    margin-right: 10px;
}
.t-d-6{
    float:left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 20px;
}
.t-d-7{
    width:48px;
    height:21px;
    background-color: #01A730;
    border-radius: 20px;
    border:none;
    float:right;
    margin-top: 8px;
    margin-right: 10px;
}
.t-d-8{
    font-size: 12px;
    font-weight: 600;
    color:#ffffff;
    float:right;
    margin-right: 18px;
}
.t-g-2{
    float:left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 19px;
    margin-top: -50px;
}
.t-g-3{
    float:right;
    font-size: 30px;
    font-weight: 600;
    margin-right: 280px;
    margin-top: -70px;
    color:#FF0000;
}
.t-g-4{
    float:left;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: -10px;
}
.t-g-5{
    float:left;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: -10px;
    color:#1400FF;
}
.t-g-6{
    width:140px;
    height:42px;
    border-radius: 10px;
    border: 1px solid #0000008f;
    float:right;
    margin-top: -80px;
    margin-right: 10px;

}
.t-g-7{
    float:left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 10px;
}
.t-g-8{
    width:48px;
    height:21px;
    background-color: #01A730;
    border-radius: 20px;
    border:none;
    float:right;
    margin-top: 8px;
    margin-right: 10px;
}
.t-g-9{
    font-size: 12px;
    font-weight: 600;
    color:#ffffff;
    float:right;
    margin-right: 2px;
}
.b1{
    width:360px;
    margin: 10vh auto ;
}
.b2{
    width:360px;
    margin: 10vh auto ;
}
.n-v-d{
    font-size: 20px;
    font-weight: bold;
    float:left;
    margin-left: 20px;
}
.n-v-d-2{
    width:390px;
    height:51px;
    border-radius: 10px;
    float:left;
    margin-left: 5px;
    border:1px solid #00000081;
}
.n-v-d-3{
    width:83px;
    height:36px;
    border-radius: 20px;
    background-color: #01A730;
    color:#ffffff;
    font-size: 15px;
    border: none;
    float:right;
    margin-top: -45px;
    margin-right: 20px;
}
.s-k-a{
    float:left;
    font-size: 20px;
    font-weight: 400;
    color:#00000077;
    margin-left: 30px;
}
.b19{
    float:left;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}
.b20{
    float:left;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
    margin-top: -10px;
}
.b21{
    float:left;
    margin-left: 20px;
    margin-top: 2px;
    font-weight: lighter;
}
.t-i{
    width:400px;
    height:286px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin: 22vh auto;
}
.b22{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
    float:left;
    margin-top: 40px;
    margin-left: -60px;
}
.b23{
    font-size: 15px;
    float:left;
    margin-top: 5px;
    margin-left: 50px;
}
.b24{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
   float:right;
   margin-top: 40px;
   margin-right: 8px;
}
.b25{
    font-size: 15px;
    float:left;
    margin-top: 5px;
    margin-left: 48px;
}
.b26{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
   float:right;
   margin-top: 20px;
   margin-right: 8px;
}
.b27{
    font-size: 15px;
    float:left;
    margin-top: 5px;
    margin-left: 40px;
}
.b28{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
   float:right;
   margin-top: 70px;
   margin-right: -182px;
}
.b29{
    font-size: 15px;
    float:left;
    margin-top: 5px;
    margin-left: 40px;
}
.b30{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
   float:right;
   margin-top: 120px;
   margin-right: -182px;
}
.b31{
    font-size: 15px;
    float:left;
    margin-top: 5px;
    margin-left: 50px;
}
.b32{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
}
.b33{
    font-size: 15px;
    float:left;
    margin-top: 5px;
    margin-left: 50px;
}
.b34{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
}
.b35{
    font-size: 15px;
    float:left;
    margin-top: 5px;
    margin-left: 65px;
}
.b36{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
    float:left;
    margin-top: 70px;
    margin-left: -178px;
}
.b37{
    font-size: 15px;
    float:left;
    margin-top: 1px;
    margin-left: 30px;
}
.b38{
    width:181px;
    height:30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 8px;
    float:left;
    margin-top: 120px;
    margin-left: -183px;
}
.b39{
    font-size: 15px;
    float:left;
    margin-top: 1px;
    margin-left: 30px;
}
.t-m-t{
    font-size: 20px;
    font-weight: bold;
    float:left;
    margin-left: 20px;
    margin-top: -140px;
}
.t-m-t-2{
    width:390px;
    height:51px;
    border-radius: 10px;
    float:left;
    margin-left: 5px;
    border:1px solid #00000081;
    margin-top: -100px;
}
.n1{
    width:190px;
    height:47px;
    border-radius: 15px;
    background-color: #C34A06;
    border:none;
    border-bottom: 2px solid #0000005e;
    font-size: 20px;
    font-weight: bold;
    color:#FFFFFF;
    float:left;
    margin-left: 10px;
}
.n2{
    width:190px;
    height:47px;
    border-radius: 15px;
    background-color: #01A730;
    border:none;
    border-bottom: 2px solid #0000005e;
    font-size: 20px;
    font-weight: bold;
    color:#FFFFFF;
    float:right;
    margin-right: 10px;
}
.line-footer{
    width:134px;
    height:8px;
    background-color: #000000;
    border-radius: 100px;
    margin: 9vh auto;
  }