.container{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.phone{
    background-color: #000000;
    border-radius: 40px;
    width: 430px;
    height:932px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #ffffff;
}
.content{
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 94%;
    height: 97%;
    background-color:#ffffff;
    overflow:hidden;
    
}
.container h1 {
    margin: 5%;
    font-size: 170%;
    margin-top: 1%;
    font-size: 19px;
}
.container h2{
    float: right;
    margin: 5%;
    margin-top: -13%;
}
.container nav1 fieldset{
    float: left;
    width: 1900px;
    height: 28px;
    margin-left: -10px;
    margin-top: -10px;
}
.container nav1 fieldset h1{
    font-size: 25px;
font-weight: bold;
    float: left;
margin-left: 130px;
margin-top: -1px;
}
.container nav2 {
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
.container nav3 img {
    float: left;
    margin-top: 50px;
    margin-left: -137px;
}
.container nav4 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    margin-top: 50px;
    margin-left: -60px;
}
.container nav5 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 1px;
}
.container nav6 {
    float: left;
    font-size: 18px;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 5px;
}
.container nav7 {
    float: left;
    font-size: 17px;
    font-weight: 100;
    margin-top: 1px;
    width: 320px;
    margin-left: 89px;
}
.container nav8 {
    font-size: 10px;
    margin-left: 330px;
    float: left;
}
.container nav9 hr {
    float: left;
    width: 377px;
    margin-left: 10px;
    margin-top: -3px;
}
.container nav10 img {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.container nav11 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    margin-top: 10px;
    margin-left: 5px;
}
.container nav12 {
    float: left;
    font-size: 17px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 2px;
}
.container nav13 {
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
}
.container nav14 {
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -297px;
}
.container nav15{
    float: left;
    font-size: 17px;
    margin-left: -66px;
}
.container nav16{
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin-left: 4px;
}
.container nav17{
    float: left;
    font-size: 17px;
    font-weight: lighter;
    margin-left: 4px;
}
.container nav18 {
    font-size: 10px;
    margin-left: 330px;
    float: left;
    margin-top: -8px;
}
.container nav19 hr {
    float: left;
    width: 377px;
    margin-left: 10px;
    margin-top: -1px;
}
.container nav20 {
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.container nav21 img {
    float: left;
    margin-top: 50px;
    margin-left: -50px;
}
.container nav22 {
    float: left;
    font-size: 17px;
    color: blue;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 3px;
}
.container nav23 {
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 1px;
}
.container nav24 {
    float: left;
    font-size: 17px;
    font-weight: lighter;
    margin-top: -20px;
    margin-left: 237px;
}
.container nav25 {
    float: left;
    font-size: 17px;
    font-weight: lighter;
    margin-left: 5px;
}
.container nav26 hr {
    float: left;
    width: 377px;
    margin-left: 10px;
    margin-top: -1px;
}
.container nav27 {
    font-size: 10px;
    margin-left: 330px;
    float: left;
    margin-top: -11px;
}
.container nav28 img {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.container nav30 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    margin-top: 10px;
    margin-left: 6px;
}
.container nav31 {
    float: left;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 3px;
}
.container nav32 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 3px;
}
.container nav33 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 3px;
}
.container nav34 {
    float: left;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 2px;
    margin-left: 3px;
}
.nav-footer{
    width:407px;
    height: 54px;
   border: 1px solid black;
   background-color: #ffffff;
    border-radius:10px 10px 0px 0px;
    margin: 105vh auto;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .nav-footer img{
    padding:1%;
    margin-top: 10px;
  }
  .line-footer{
    width:134px;
    height:8px;
    background-color: #000000;
    border-radius: 100px;
    margin: -102vh auto;
  }


