.container{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.phone{
    background-color: #36383F;
    border-radius: 40px;
    width: 430px;
    height:1090px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
}
.content{
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 94%;
    height: 97%;
    background-color:#ffffff;
    overflow:hidden;
    
}

.btn-btn-1{
    width:405px;
    height:70px;
    background-color:#FF0000;
    border-radius: 10px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    border:none;
    margin-top: -20px;
    margin-left:20px;
  }
  .btn-btn-2{
    width:402px;
    height:54px;
    background-color: #D3EBDA;
    border-radius: 10px;
    border:none;
    color:#142AEE;
    margin-left:-15px;
  }
  .modal-header{
    width:192px;
    height:293px;
    background-color: #D9D9D9;
    border-radius: 30px;
    margin-left: 105px;
    position:relative;
    
  }
  .modal-header-1:hover{
    width:193px;
    height:293px;
    background-color: #D2F1CD;
    margin-left: 105px;
    border-radius: 30px;
    position:absolute;
  }

  .modal-header img{
    width:104%;
    margin-top: -90px;
    margin-left: -19px;
    position:absolute;
  }
  .modal-header h1{
    position:absolute;
    font-size: 18px;
    font-weight: bold;
    color:#000000;
    margin-top:140px;
    margin-left: 1px;
  }
  .modal-header h2{
    position:absolute;
    font-size: 12px;
    color:#000000;
    margin-top:190px;
    margin-left: 20px;
  }
  .modal-header h3{
    position:absolute;
    font-size: 12px;
    color:#ff0000;
    margin-top:250px;
    margin-left: 69px;
    text-decoration: underline;
  }
.modal-dialog{
    width:405px;
    margin-right: 574px;
}