*{
    margin:0;
    padding:0;
    text-align: justify;
    box-sizing: border-box;
}
h1{
    text-align: left;
}

p{
    font-size: 86%;
  
}
h2{
    font-weight: bold;
}
input{
    background-color: #0a53be;
    color:white;
    width:30%;
    height:5vh;
    border-radius: 10%;
    text-align: center;
    
}

hr{
    width:80%;

}
.container{
    float:left;
}
.col{
    float:right;
}